<!DOCTYPE html>
<html lang={{ DEFAULT_LANG }}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="description" content="Planeta vos je blog Jana Doležala">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/theme/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/theme/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/theme/images/favicon-16x16.png">
    <link rel="manifest" href="{{ SITEURL }}/theme/images/site.webmanifest">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="page">
        <nav class="navigation">
            <ul>
                <li><a href="{{ SITEURL }}/index.html">Domů</a></li>
            </ul>
        </nav>
        <main class="main">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>