{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}
    <section class="summary">
        <img class="profile" src="{{ SITEURL }}/theme/images/profile_photo.jpg" alt="Profilová fotka">
        <h1>{{ SITENAME }}</h1>
        <p>Raději špatný blog, než žádný.</p>
        <ul class="social">
            <li><span><a href="https://twitter.com/jandolezal">twitter</a></span></li>
            <li><span><a href="https://github.com/jandolezal">github</a></span></li>
        </ul>
    </section>
    <section class="list">
        <ul>
            {% for article in articles %}
            <li class="article-preview">
                <h2><a href={{ article.url }}>{{ article.title }}</a></h2>
                <p class="date">{{ article.date|strftime(DEFAULT_DATE_FORMAT) }}</p>
                {{ article.content|truncate(87) }}
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}